@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.agregar{
    text-align: center;
    border:dashed 1px rgb(0, 140, 255); 
    padding: 10px;
    border-radius: 20px;
}

.bd-container{
    margin: 0 10rem;
}

.form-group{
    display: flex;
    margin-bottom: 10px;
    
}

.label-control{
    width: 300px;
    text-align: left;
}

.form-control{
    width: 100%;
    text-align: left;
}

.btn{
    background: lightblue;
    border-radius: 30px;
    font-weight: 500;
    height: 25px;
    border-color: #000;
    padding: 0 0.5rem;
}

.btnTable{
    width: 100px;
    text-align: center;
}
