<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>

<body>
    <div id="app" class="conteiner pt-2">
        <h1 class="text-center pb-4">Mantenedor de productos</h1>
        <div class="agregar bd-container">
            <h2 class="pb-2">{{!editar ? 'Añadir Producto' : 'Modificar Producto'}}</h2>
            <form @submit="createProducto">
                <div class="form-group">
                    <label class="label-control">Nombre:</label>
                    <input v-model="nombre" type="text" class="form-control" id="nombreProducto" required>
                </div>
                <div class="form-group">
                    <label class="label-control">Descripcion:</label>
                    <input v-model="descripcion" type="text" class="form-control" id="descripcionProducto" required>
                </div>
                <div class="form-group">
                    <label class="label-control">Precio:</label>
                    <input v-model="precio" type="number" class="form-control" id="precioProducto" min="1" required>
                </div>
                <input type="submit" class="btn" :value="!editar ? 'Añadir Producto' : 'Modificar Producto'">
            </form>
        </div>
        <div class="lista bd-container pt-4">
            <h2>Lista de Productos</h2>
            <table class="table table-bordered">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody v-for="(producto, index) in productos">
                    <tr>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.precio}}</td>
                        <td class="btnTable">
                            <button class="btn" @click.prevent="updateProducto(index)">Editar</button>
                        </td>
                        <td class="btnTable">
                            <button class="btn" @click.prevent="deleteProducto(index)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                productos: [
                    { nombre: "Manzana", descripcion: "Roja", precio: 100 },
                    { nombre: "Pera", descripcion: "Verde", precio: 500 },
                    { nombre: "Platano", descripcion: "Amarillo", precio: 600 },
                ],
                nombre: null,
                descripcion: null,
                precio: null,
                index: null,
                editar: false,


            },
            methods: {
                createProducto: function (e) {
                    if (this.editar == true) {
                        this.productos[this.index].nombre = this.nombre;
                        this.productos[this.index].descripcion = this.descripcion;
                        this.productos[this.index].precio = this.precio;
                        this.editar = false;
                    } else {
                        this.productos.push({ nombre: this.nombre, descripcion: this.descripcion, precio: this.precio });
                    }
                    this.nombre = null;
                    this.descripcion = null;
                    this.precio = null;
                    this.editar = false;
                    e.preventDefault();
                },
                deleteProducto(index) {
                    this.editar = false;
                    this.nombre = null;
                    this.descripcion = null;
                    this.precio = null;
                    this.editar = false;
                    this.productos.splice(index, 1);
                },
                updateProducto(index) {
                    this.index = index;
                    this.editar = true;
                    this.nombre = this.productos[index].nombre;
                    this.descripcion = this.productos[index].descripcion;
                    this.precio = this.productos[index].precio;
                }
            }
        })
    </script>
</body>

</html>